
.bodoni-moda-title-text {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }

